@inherits LayoutComponentBase

<div class="app-layout">

    <Sidebar />

    <div class="main-content">

        <Topbar />

        <div class="page-content">
            @Body
        </div>

    </div>

</div>