<div class="sidebar">

    <div class="logo">

        <div class="logo-icon">
            ERP
        </div>

        <span>Mini ERP</span>

    </div>

    <nav>

        <a class="active" href="/">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>

        <a href="#">
            <i class="bi bi-cart3"></i>
            <span>Sales</span>
        </a>

        <a href="#">
            <i class="bi bi-bag"></i>
            <span>Purchase</span>
        </a>

        <a href="#">
            <i class="bi bi-box-seam"></i>
            <span>Products</span>
        </a>

        <a href="#">
            <i class="bi bi-building"></i>
            <span>Warehouse</span>
        </a>

        <a href="#">
            <i class="bi bi-people"></i>
            <span>Customers</span>
        </a>

        <a href="#">
            <i class="bi bi-graph-up"></i>
            <span>Reports</span>
        </a>

    </nav>

</div>