<div class="topbar">

    <div>

        <h2>Dashboard</h2>

        <span>
            Welcome back 👋
        </span>

    </div>

    <div class="profile">

        <div class="avatar">
            P
        </div>

        <div>

            <strong>Parisa</strong>

            <div>Administrator</div>

        </div>

    </div>

</div>