<div class="summary-card">

    <div class="summary-header">

        <span>@Title</span>

        <div class="summary-icon">

            <i class="@Icon"></i>

        </div>

    </div>

    <h2>@Value</h2>

    <small>@Subtitle</small>

</div>

@code {

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Value { get; set; } = "";

    [Parameter]
    public string Subtitle { get; set; } = "";

    [Parameter]
    public string Icon { get; set; } = "";
}